/* CSS declarations go here */

.message-deleted{
  font-style: italic;
  color: gray;
}

#messages-container {
  height: 300px;
  max-width: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.btn-delete {
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
  color: gray;
}

.logo-img {
  width: 150px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
}
